<launch>
  <master auto="start"/>

 <!-- Navigation -->
 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find my_robot_name_2dnav)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_robot_name_2dnav)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_robot_name_2dnav)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot_name_2dnav)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot_name_2dnav)/base_local_planner_params.yaml" command="load" />

    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="5.0" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />

    <param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->
 </node>

 <!-- Run the map server -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(find my_robot_name_2dnav )/maze.yaml" output="screen">
	<param name="frame_id" value="map" />
 </node>

  <!--- Run AMCL -->
 <node pkg="amcl" type="amcl" name="amcl" output="screen">
	<rosparam file="$(find my_robot_name_2dnav)/amcl_params.yaml" command="load" />
	<param name="initial_pose_x" value="0"/>
	<param name="initial_pose_y" value="0"/>
	<param name="initial_pose_a" value="0"/>
 </node>







</launch>


